.AuthData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Form {
    margin: 0 auto;
}

.Input {
    display: block;
    width: 80%;
    padding: 8px 5px;
    margin-bottom: 5px;
}

@media (min-width:600px) {
    .AuthData {
        width: 500px;
    }
}